@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Moment 3</h1>
    <p>Här är min lösning på moment 3 i kursen Webbutveckling med .NET.</p>
    <p>Momentet går ut på att skapa en datadriven webbapplikation med Entity Framework Core.</p>

</div>
