@model Collection.Models.LoanedBooks

@{
    ViewData["Title"] = "Create";
}

<h1>Lägg till</h1>

<h4>Lån av böcker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label">Användare:</label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="BookID" class="control-label">Bok:</label>
                <select asp-for="BookID" class="form-control" asp-items="ViewBag.BookID"></select>
            </div>
            <div class="form-group">
                <label asp-for="LoanDate" class="control-label">Lånedatum:</label>
                <input asp-for="LoanDate" class="form-control" />
                <span asp-validation-for="LoanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label">Returdatum:</label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lägg till" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
